!!! 5
html
	head
		title uploadr
	body
		h1 uploadr
		form(action="/upload", method="post")
			label(for="message") message: 
			input(type="text", name="message", id="message")
			br
			input(type="submit", value="Send")
